<header>
    <a href="#" class="logo"><img src="./assets/img/cmRoel Logo-1.1.png" alt="Logo CM Roel"></a>
    <nav class="navigation">
        <a href="#" class="active" id="btn-acerca-de">¿Quiénes somos?</a>
        <a href="#" id="btn-menu">Productos y Servicios</a>
        <a href="#" class="desaparecer" id="btn-galeria">Contacto</a>
        <a href="#" id="btn-ubicacion">Ubicación</a>
        <a href="#" id="btn-ubicacion" ><i class="fa-solid fa-cart-shopping"></i></a>
        
       
    </nav>

</header>