<footer>
    <h2>Ubicación</h2>
    <div class="leftLoc">
        <a href="#"><i class="fa-solid fa-map-location-dot"></i> Ferrocarril de Río Frío 476, Col. Agrícola Oriental, Delegación Iztacalco C.P. 08500, México, CDMX</a>
        <a href="#"><i class="fa-solid fa-mobile"></i> (55) 1999-5604 / (55) 1999-5605</a>
        <a href="#"><i class="fa-solid fa-envelope-circle-check"></i> ventas1@cmroel.com / monserratt.davila@cmroel.com</a>
    </div>
    <div class="rightLoc">
        <h4>Horarios</h4>
        <p><i class="fa-solid fa-clock"></i>Lunes a Viernes 9:00am - 6:00pm</p>
        <p><i class="fa-solid fa-clock"></i> Sábados y Domingos Descanso</p>
    </div>
    <h4>Todos los derechos reservados | CMRoel @{{date}}</h4>

</footer>
